
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/demo.css" />
<link rel="stylesheet" href="/css/prettify.css" />

<script src="/lib/editor/Markdown.Converter.js"></script>
<script src="/lib/editor/Markdown.Sanitizer.js"></script>
<script src="/lib/editor/Markdown.Editor.js"></script>
<script src="/lib/editor/prettify.js"></script>
<script src="/lib/editor/Markdown.Extra.js"></script>
<div class='content' onload="prettyPrint()">
	<form id='create_topic_form' action='<%= (typeof(action) !== 'undefined' && action === 'edit') ? ('/topic/' + id + '/edit') : '/topic/create' %>' method='post'>
		<div class="input-group">
			<span class="input-group-addon">标题：</span>
			<input type="text"  name='title' value='<%= typeof(title) !== 'undefined' && title || '' %>'  class="form-control" placeholder="Username">
		</div>
		<div class="input-group">
			<span class="input-group-addon">分类：</span>
			<select name="category" id="tab-value">
				<option value="">请选择</option>
				<%
					var categoryValue = '';
					if (typeof(category) !== 'undefined') {
						categoryValue = category;
					}
					config.categories.forEach(function (pair) {
						var value = pair[0];
						var text = pair[1];
				%>
					<option value="<%=value%>" <%= categoryValue === value ? 'selected': '' %>><%=text%></option>
				<%});%>
			</select>
		</div>
		<div class="input-group">
			<span class="input-group-addon">标签：</span>
			<input type="text" name="tag" value='<%=(typeof(tag) === 'undefined') ? '' : tag %>' class="form-control" placeholder="tag"/>
		</div>
		<div class="input-group">
			<span class="input-group-addon">正文：</span>
			<input type="submit" value="发表" />
		</div>

		<div class="wmd-panel">
			<div id="wmd-button-bar"></div>
			<textarea class="wmd-input" id="wmd-input" name="content">
				<%= typeof(content)!== 'undefined' && content || '' %>
			</textarea>
		</div>
		<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
	</form>
</div>

<script type="text/javascript">
	(function () {
		var converter = Markdown.getSanitizingConverter();
			Markdown.Extra.init(converter, {
			extensions: "all",
			highlighter: "prettify"
		});

		var editor = new Markdown.Editor(converter);
		editor.hooks.chain("onPreviewRefresh", prettyPrint);
		editor.run();
	})();
</script>
