<div id='content'>
    <div  class='topic'>
        <div class='title'>
            <div><%= topic.title %></div>
            <div class='time'>发布于 <%= topic.friendly_create_at %></div>
        </div>

        <div class="changes">
            <span><%= topic.visit_count %> 次浏览</span>
            <% if (topic.friendly_create_at != topic.friendly_update_at) { %>
                <span>
                最后一次编辑是 <%= topic.friendly_update_at %>
                </span>
            <% } %>
            <span> 标签【<%= topic.tag %>】</span>
        </div>

        <div>
        <% if (user  && (user._id ==  topic.author_id)) { %>
        <a href='/topic/<%= topic._id %>/edit'>edit</a>
        <a href='/topic/<%= topic._id %>/delete'/>delete</a>
        <% } %>
        </div>

        <div class='inner topic'>
            <div class='topic_content'>
            <%- topic.content %>
            </div>
        </div>
</div>
