<%- include ../header.html %>
<div class='middle left'>
    <div class='list-group'>
        <%if (topics && topics.length >  0) {
            tags_results.forEach(function(record){ %>
                    <a  href='<%='/tags/' + record._id%>' class="<%=(tag == record._id)? 'list-group-item active': 'list-group-item'%>" >
                        <span class="badge"><%=record.count%></span>
                        <%=record._id%>
                    </a>
        <% }) }%>
    </div>
</div>
<div class='content'>
    <div class="list-group">
        <% if (topics && topics.length > 0) {%>
            <a href="#" class="list-group-item active"><%=tag%></a>
            <% topics.forEach(function(topic){ %>
                <%- include cell.html %>
           <% })%>
       <% } else {%>
        no result
       <%}%>
   </div>
</div>
<%- include ../footer.html %>