<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
</header>

<nav>
<span>
    <a title="主页" href="/"
        class="<%=(typeof(category) === 'undefined' && typeof(tags_results) === 'undefined') ? 'active' : '' %>"
    >主页</a>
</span>
<%
  config.categories.forEach(function (pair) {
        var value = pair[0];
        var text = pair[1];
%>
    <span>
        <a title="<%=text%>" 
            href="/category/<%=value%>" 
            class="<%=(typeof(category) !== 'undefined' && category == value) ? 'active' : '' %>"
        ><%=text%></a>
    </span>
<% }); %>
<span><a title="标签" href="/tags" class="<%=(typeof(tags_results) !== 'undefined' ) ? 'active' : '' %>">标签</a></span>
<% if (typeof(user) !== 'undefined' && user)  { %>
  <span><a title="发表" href="/topic/create">发表</a></span>
  <span><a title="退出" href="/logout">退出</a></span>
<% } else { %>
  <span><a title="登录" href="/login">登录</a></span>
  <span><a title="注册" href="/register">注册</a></span>
<% } %>
</nav>

<div class="container">

<% if (typeof(success) !== 'undefined' && success) { %>
   <div><%= success %></div>
<% } %>
<% if (typeof(error) !== 'undefined' && error) { %>
  <div><%= error %> </div>
<% } %>
