<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Node App</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <style type="text/css">
        .nav {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
        }
        .nav .active {
            background-color: #fafaf6;
        }
        .nav li a {
            position: relative;
            display: block;
            padding: 10px 15px;
            color: #2a6496;
            text-decoration: none;
        }
        .nav .active {
            background-color: #fff;
            border: 1px solid #f6f6f6;
        }
    </style>
</head>
<body>
    <div layout="row" ng-controller="MyController" style="height:100%">
        <md-sidenav md-component-id="left" layout="row" class="md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open"
          md-is-locked-open="$media('gt-sm')"
          flex="33"
        >
            <md-content flex="25" layout="column" style="background-color: #1f2c39">
               <ul class="nav">
                   <li class="active"><a href="javascript:;">index</a></li>
                   <li><a href="javascript:;">index</a></li>
                   <li><a href="javascript:;">index</a></li>
               </ul>
            </md-content>
            <md-content layout-fill layout="column" style="text-align:left">
                <md-button>category</md-button>
                <md-button>category</md-button>
                <md-button>category</md-button>
            </md-content>
        </md-sidenav>
        <md-content layout-fill>
          Center Content
          <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
            Open Left Menu
          </md-button>
        </md-content>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js"></script>

    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript">

    </script>
    <script type="text/javascript">
        'use strict';
       var app = angular.module('myApp', ['ngMaterial']);
       app.controller('MyController', function($scope, $mdSidenav) {
         $scope.toggleLeft = function() {
           $mdSidenav('left').toggle();
         };
       });
    </script>
</body>
</html>