* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
h2 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
}
a, a:hover, a:active {
    text-decoration: none;
}
.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container .nav {
    width: 30%;
    float: left;
    height: 100%;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    transition: width 2s;
    -moz-transition: width 2s;
    /* Firefox 4 */
    
    -webkit-transition: width 2s;
    /* Safari 和 Chrome */
    
    -o-transition: width 2s;
    /* Opera */
}
.content-lg {
    width: 100%;
}
.content-sm {
    width: 70%;
}
.nav .aside1 {
    width: 25%;
    min-width: 20%;
    background-color: #343131;
    float: left;
    height: 100%;
    text-align: center;
}
.nav .aside1 .logo,
.welcome {
    height: 64px;
    background-color: rgb(63,81,181);
    color: rgba(255,255,255,0.87);
}
.nav .aside1 .nav-stack {
    list-style: none;
}
.nav-stack>li {
    margin-bottom: 1px;
}
.nav-stack>li>a {
    color: #b3b3b3;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}
.nav-stack .active, .nav-stack>li:hover {
    color: #2a6496;
    background-color: #fafaf6;
}
.nav .aside2 {
    background-color: #fafaf6;
    height: 100%;
    width: 75%;
    float: left;
    overflow-y: auto;
}
.aside2 .tab-content .active {
    display: block!important;
}
.aside2 .tab-content .tab-pane {
    display: none;
}
.aside2 .tab-content .list-group {
    margin-bottom: 20px;
}
.tab-content .center {
    text-align: center;
}
a.list-group-item {
    color: #555;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    width: auto;
    display: block;
}
.tab-pane .panel {
    border-radius: 4px;
    border: 1px solid #bce8f1;
    margin-bottom: 3px;
    background-color: #fff;
}
.panel>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 0px;
    font-size: 16px;
}
.panel-heading>a {
    padding: 10px 15px;
    display: block;
    width: 100%;
    color: inherit;
    cursor: pointer;
}
.panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f;
    float: right !important;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}
.panel .panel-info {
    display: none;
    transition: display 10s;
    -moz-transition: display 10s;
    /* Firefox 4 */
    
    -webkit-transition: display 10s;
    /* Safari 和 Chrome */
    
    -o-transition: display 10s;
    /* Opera */
}
.content {
    float: left;
    height: 100%;
    overflow: auto;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.visible {
    display: block !important;
}
.hide {
    display: none;
}
@media screen and (max-width: 900px) {
    .content-sm {
        width: 100%;
    }
    .hide {
        display: block !important;
        width: 100% !important;
    }
    .content-lg {
        width: 0px;
    }
    .visible {
        display: none !important;
    }
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
#align-justify {
    font-family: 'Glyphicons Halflings';
    font-size: 24px;
    color: #fff;
    position: fixed;
    right: 20px;
    top: 10px;
    line-height: 1;
    background: #428bca;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#align-justify:before {
    content: "\e055";
}
.topic .top {
    background-color: #343131;
    padding: 30px 30px;
    text-align: center;
    color: #FFF;
}
.topic .title {
    font-size: 45px;
}
.topic .right {
    font-size: 15px;
    text-align: right;
}
.aside3-content {
    padding: 30px 30px 0;
}
.topic img {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
